


.login{


    position: absolute;
    width: 274px;
    height: 80px;
    left: 127px;
    top: 442px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    
    color: #000000;
    

}

.cxlogin{
    position: absolute;
    width: 502px;
    height: 90px;
    left: 85px;
    top: 522px;
    
    background: rgba(143, 143, 143, 0.51);
}


   






.senha{

    position: absolute;
    width: 145px;
    height: 66px;
    left: 85px;
    top: 616px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    
    color: #050404;


    }












.password{
    
position: absolute;
width: 502px;
height: 96px;
left: 85px;
top: 682px;

background: rgba(113, 111, 111, 0.53);

}




.cadastro{
    
    position: absolute;
    width: 220px;
    height: 52px;
    left: 174px;
    top: 918px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    
    color: #000000;


    }


    .entrar{
        
        
        position: absolute;
        width: 195px;
        height: 40px;
        left: 623px;
        top: 922px;
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
        
        color: #000000;
        
        }

        